* {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

::-webkit-input-placeholder {
  font-family: Helvetica;
}
:-moz-placeholder {
  font-family: Helvetica;
}
::-moz-placeholder {
  font-family: Helvetica;
}
:-ms-input-placeholder {
  font-family: Helvetica;
}

.page {
  margin: 0;
  text-align: center;
}

.page > * {
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 900px) {
  .page > * {
    padding-left: Max(calc((100vw - 1336px) / 2), 100px);
    padding-right: Max(calc((100vw - 1336px) / 2), 100px);
  }
}

*:invalid {
  box-shadow: none;
}
