* {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

::-webkit-input-placeholder {
  font-family: Helvetica;
}
:-moz-placeholder {
  font-family: Helvetica;
}
::-moz-placeholder {
  font-family: Helvetica;
}
:-ms-input-placeholder {
  font-family: Helvetica;
}

.page {
  margin: 0;
  text-align: center;
}

.page > * {
  padding: 0px 10px;
}
@media screen and (min-width: 900px) {
  .page > * {
    padding: 0 max(calc((100vw - 1336px) / 2), 100px);
  }
}

*:invalid {
  box-shadow: none;
}
